{%- comment -%}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{%- endcomment -%}

{%- comment -%}
  zuomin 8 - 18
{%- endcomment -%}
{% section 'page-title-section' %}
<div class="blog-cat-submenue padding-middle"><div class="container">
   <ul class="advanced-filters">    
     <li class="all advanced-filter12 active-filter"> All NEWS & EVENTS </li>     
     <li class="advanced-filter12 "  data-group="news-and-events" data-handle="/tagged/festival-news"> FESTIVAL NEWS </li>                
     <li class="advanced-filter12"  data-group="news-and-events" data-handle="/tagged/new-in-the-store"> NEW IN THE STORE </li>  
     <li class="advanced-filter12"  data-group="news-and-events" data-handle="/tagged/record-label"> RECORD LABEL </li>  
     <li class="advanced-filter12"  data-group="news-and-events" data-handle="/tagged/events"> EVENTS </li>  
     <li class="advanced-filter12"  data-group="news-and-events" data-handle="/tagged/mixtapes"> MIXTAPES </li>  
   </ul>
  </div></div>


{% section 'blog-template' %}