{% section 'index-section-revolution' %}
<div id="shopify-section-16047307946e4faf69" class="shopify-section index-section">
    <div class="container-indent nomargin" style="background: #191919">
        <div class="container-fluid">
            <div class="av_promobox  avia-button-yes  avia-builder-el-3  avia-builder-el-no-sibling container">
                <div class="avia-promocontent">
                    <p><strong>The Reverberation Appreciation Society</strong> was founded in 2009 and began releasing records in 2010. Check out the latest releases in our online store:</p>
                </div>
                <div class="avia-button-wrap avia-button-right "><a href="/collections/all" class="btn smooth-move  avia-position-right "><span class="avia_iconbox_title">ONLINE STORE</span></a></div>
            </div>
        </div>
    </div>
</div>
<div class='main_color  padding-small'>
  <div class=" image-gride padding-small container">
    <h2 style='padding-bottom:0px ' itemprop="headline">DISCOGRAPHY</h2>
    {% section 'index-section-products' %}
  </div>    
</div>
