{% section 'index-section-revolution' %}
<div id="shopify-section-16047307946e4faf69" class="shopify-section index-section">
    <div class="container-indent nomargin" style="background: #191919">
        <div class="container-fluid">
            <div class="av_promobox  avia-button-yes  avia-builder-el-3  avia-builder-el-no-sibling container">
                <div class="avia-promocontent">
                    <p><strong>The Reverberation Appreciation Society</strong> was founded in 2009 and began releasing records in 2010. Check out the latest releases in our online store:</p>
                </div>
                <div class="avia-button-wrap avia-button-right "><a href="/collections/all" class="btn smooth-move  avia-position-right "><span class="avia_iconbox_title">ONLINE STORE</span></a></div>
            </div>
        </div>
    </div>
</div>
<div id='record-subscribe' class='container padding-big'>
  <div class='row md-space'>
    <div class='col-12 col-md-6'>
      <div class="avia_textblock  " itemprop="text">
        <p><strong>DISTRO</strong><br>Our releases are distributed by The Orchard, if you’d like to carry our releases please get in touch: <a href="mailto:sales@theorchard.com">sales@theorchard.com</a>.</p>
        <p><strong>CONTACT</strong><br>For label press, licensing and general label inquires, please contact:<br><strong> Harry Portnof</strong> – <a href="mailto:harry@levitation-austin.com">harry@levitation-austin.com</a>.</p>
      </div>
    </div>
    <div class='col-12 col-md-6'>
    {% section 'index-section-subscribe' %}
    </div>
  </div>
</div>
<div class='main_color  padding-small'>
  <div class=" image-gride padding-small container">
    <h2 style='padding-bottom:0px ' itemprop="headline">DISCOGRAPHY</h2>
    {% section 'index-section-products' %}
  </div>
    
  <div class="blog-section  padding-small container">
    <h2 style='padding-bottom:0px ' itemprop="headline">LABEL NEWS AND UPDATES</h2>
    {% section 'index-section-blog' %}
    <div class='text-center' style="padding: 47px 0px 0px;"><a href='/blogs/news-and-events' style="min-width:300px" class="btn border-btn ">READ ALL NEWS</a></div>
  </div>
</div>
<div id='youbube-video-section' class='container  padding-big'>
  <h2 style='padding-bottom:10px '>LABEL MUSIC VIDEOS</h2>
  <div class="elfsight-sapp-8ab0dfc7-c5b5-4e1b-a04f-3cd8c5946405"></div>
</div>